<div class="login-body">
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
    {{#if has_errors}}
    <strong>Login failed.</strong> {{has_errors}}
    {{/if}}
    <!-- Login/Register Form -->
    <div class="register-container" style="position: relative;">
        <form action="/auth/login" method="post">
            <h2>Login to Your Account</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password">
            </div>
            <a class="forgot" href="/auth/forgot">Forgot account?</a>
            <div class="btn-container" style="margin-top: 50px;">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
        <div class="register-note">
            <span>Don't have an account?</span>
            <a href="/auth/register">Register</a>
        </div>
    </div>
</div>