.hello .logout {
    margin-left: 40px;
    font-size: 35px;
    background-color:#0d6efd;
    border-radius: 8px;
    padding: 0 12px 0 12px;
    height: 50px;
    line-height: 50px;
}
.logout:hover {
    background-color:aliceblue;
    color: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hello{
    font-size: 33px;
    color: aliceblue;
    display: flex; 
    justify-content: flex-end;
    margin-right: 70px;
    line-height: 70px;
    align-items: center;
}

.logo {
    height: 70px;  /* Adjust the height of the logo */
    width: auto;
    display: block;
}

.navbar {
    zoom: 0.8;
    background: #232F3E;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 110px;
    display: flex;
    color: white;
    align-items: center;
    box-sizing: border-box;
}

.nav_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.nav_right{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.nav_left{
    max-height: 100%;   /* bằng cha navbar */
}

.nav_left ul, ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
}

.child_nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_left ul li p {
    margin: 0; 
    display: inline-block;
    color: white;
    padding-right: 10px; 
}   

.btnSearch {
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    background: #FFFF;
    color: #232F3E;
    border-radius: 20px;
    font-weight: 700;
}

.search {
    text-align: center;
    height: 40px;
    width: auto;
    border-radius: 60px;
    outline: none;
    border: 2px solid #232F3E;
}

.navbar li {
    color: white;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.navbar li a {
    color: white;
    font-size: 25px;
    font-weight: none;
    text-decoration: none;
    margin: 0 10px;
}

.navbar li a:hover {
    color: #000000; /* hover effect */
}
